.nav {
  width: 100%;
  padding: 20px 0;
  background: #111;
}

.container {
  width: 85%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 120px;
  cursor: pointer;
}

.header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: .3s;
}

.header ul li a:hover {
  color: orange;
}

.header button {
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  background: orange;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.header button:hover {
  transform: translateY(-3px);
  opacity: .8;
}


/* Active link */

.header ul li .active {
  color: orange;
}


/* Responsive */

@media (max-width:768px) {

  .header {
    flex-direction: column;
    gap: 20px;
  }

  .header ul {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .header button {
    width: 100%;
  }

}